<!doctype html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% stylesheets
        'bundles/webicksmuttery/css/responsive-style.css'
        'bundles/webicksmuttery/css/style.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="page page-id-1484 page-template page-template-responsive-theme-php">

<script type="application/javascript">
function goLogIn(){
    window.location.href = "{{ path('_security_check') }}";
}

function onFbInit() {
    if (typeof(FB) != 'undefined' && FB != null ) {
        FB.Event.subscribe('auth.statusChange', function(response) {
            if (response.session || response.authResponse) {
                setTimeout(goLogIn, 500);
            } else {
                window.location.href = "{{ path('_security_logout') }}";
            }
        });
    }
}
</script>

{{ facebook_initialize({'xfbml': false, 'fbAsyncInit': 'onFbInit();'}) }}

    <div id="container" class="hfeed">
        <div id="header">
            <div id="logo">
                <a href="http://muttery.com/"><img src="{{ asset("bundles/webicksmuttery/images/logo.png") }}" width="300" alt="ThemeID" /></a>
            </div><!-- end of #logo -->
    </div><!-- end of #header -->
    <div id="wrapper" class="clearfix">
        <div id="content-full" class="grid col-940">
        {% block body %}{#         Here goes your content!     #}{% endblock %}
        </div><!-- end of content -->
    </div><!-- end of #wrapper -->
</div><!-- end of #container -->

<div id="footer" class="clearfix">
    <div id="footer-wrapper">
        <div class="grid col-940">
            <div class="grid col-540">
            </div>
            <div class="grid col-380 fit">
            </div>
        </div>
        <div class="grid col-300 copyright">
           <a href="http://themeid.com/">
                <img src="{{ asset("bundles/webicksmuttery/images/footer-logo.png") }}" class="logo-footer" width="100" height="26" alt="ThemeID" />
           </a>
        </div>
        <div class="grid col-300 fit powered">
        </div><!-- end .powered -->
    </div><!-- end #footer-wrapper -->
</div><!-- end #footer -->
</body>
</html>