{% extends "WebicksMutteryBundle::responsive.html.twig" %}

{% block headJS %}
var MutterActionData = '';
{% endblock %}

{% block header_message %}
Welcome!
{% endblock %}

{% block body %}

{# Mutter creation overlay box to be displayed on FB login. #}
<div id="create-mutter">
    <div class="header">
        <span id="ov-message">Welcome, please create your mutter here! Or <a id="close-mutter" href="javascript://">close</a>!</span>
        <div>
        <input type="text" id="mutter-name" value="" />
        <input type="radio" id="mutter-type-message" name="mutter-type" value="message" class="radio-button" checked />
        <input type="radio" id="mutter-type-youtube" name="mutter-type" value="youtube" class="radio-button"  />
        <input type="radio" id="mutter-type-redirect" name="mutter-type" value="redirect" class="radio-button"  />

        </div>

    </div>
    <div id="createActionMessage" class="create-action create-message active">
        <textarea id="mutter-data-message">Your message here!</textarea>
    </div>
    <div id="createActionYoutube" class="create-action create-youtube">
        {% render "WebicksMutteryBundle:Youtube:init" %}
    </div>
    <div id="createActionRedirect" class="create-action create-redirect">
        <input type="text" value="Redirect to URL!" name="mutter-data-redirect" id="mutter-data-redirect" />
    </div>
    <div class="save-action">
        <input id="invite-friends" type="button" name="send" value="Ok" />
    </div>
</div>
{% if app.user %}
<div id="select-mutter">
	Welcome {{ user.FirstName}}, you have multiple events active, please choose one!
	<div>
		<span class="title">Active Mutters:</span>
		{% for mutter in mutters %}
			<div class="muttery">
				<a href="{{ path('webicks_muttery_mutter_index', { 'id' : mutter.id}) }}">{{ mutter.name }}</a>
				, created by you.
				<a href="{{ path('webicks_muttery_mutter_index', { 'id' : mutter.id}) }}">Open</a>
			</div>
		{% endfor %}
		{% for mutter in invites %}
			<div class="invite">
				<a href="{{ path('webicks_muttery_mutter_index', { 'id' : mutter.id}) }}">{{ mutter.name }}</a>
				, in which you was invited by {{ mutter.owner.fullname }}.
				<a href="{{ path('webicks_muttery_mutter_index', { 'id' : mutter.id}) }}">Open</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endif %}
<div class="grid col-540">
    <h1>We're waiting for you:</h1>
    <hr />
    <div class="invites pending">
    {% for friend in myFriends %}
        <div class="userbox">
            <div class="username">{{ friend.name }}</div>
            <div class="picture"><img src="https://graph.facebook.com/{{ friend.id }}/picture?type=large" /></div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="grid col-380 fit">
    <div id="register-box">
        {% if not app.user %}
        {{ facebook_login_button({'autologoutlink': false}) }}
         and Start muttering!
         {% else %}
         Start muttering!
         {% endif %}
    </div>
</div>
{% endblock %}
